@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=VT323');

body {
	background-color: black;
	color: green;
	font-family: 'VT323', monospace;
	font-weight: bold;
	font-size: 150%;
}

a {
	color: lightgreen;
 	text-decoration: none;
}

a:hover {
 	background-color: green;
 	color: black;
}

div {
	margin-top: 20px;
	margin-left: 20px;
}

input {
	border: none;
	background-color: green;
	color: black;
	font-family: 'VT323', monospace;
	font-weight: bold;
	font-size: 100%;
}

input:focus {
	background-color: lightgreen;
}

.hidden {
	display: none !important;
}

#cursor {
	
}