<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
</head>
<body>

  <div id="reservation-list">
    <!-- the content will be placed here -->
  </div>
  
  <div id="system-error" class="hidden">We are sorry, retrieving the list of reservations failed - please try again later.</div>
  <div id="action-error" class="hidden">We are sorry, we were unable to execute your action - please try again later.</div>
  
<div>
<span class="hidden" id="totype">
Waiting for input [? for help]<br>
</span><span id="input_output"></span><span id="cursor">_</span>
</div>

  <span id="dialog" class="hidden">&gt;<span id="user_input"></span><span id="system_output" class="hidden"></span></span>
  <span id="helpmessage" class="hidden">The following commands are accepted: ?</span>
  <span id="errormessage" class="hidden">Invalid input</span>
  <span id="confirmmessage" class="hidden">Executing command...</span>
  <span id="backcommand" class="hidden"><a href="/index.html" onclick="window.location = '/index.html';" class="command">Back</a>></span>

  <script id="reservation-list-template" type="text/x-handlebars-template">  
    <table>
      <caption>List of reservations</caption>
      <thead>
        <tr>
          <th>|</th>
          <th>Reservation ID</th>
          <th>|</th>
          <th>Facility ID</th>
          <th>|</th> 
          <th>Start Date</th>
          <th>|</th>
          <th>End Date</th>
          <th>|</th>
          <th>Reserved by</th>
          <th>|</th>
          <th>Action</th>
          <th>|</th>
        </tr>
      </thead>
      <tbody>
    {{#each content}}  
        <tr>        
          <th>|</th>            
          <td>{{id}}</td>
          <th>|</th>
          <td>{{resourceId}}</td>
          <th>|</th>
          <td>{{startDate}}</td>
          <th>|</th>            
          <td>{{endDate}}</td>
          <th>|</th> 
          <td>{{owner}}</td>
          <th>|</th> 
          <td><a href="#" class="action command" reservationId="{{id}}">Cancel {{id}}</a>    
          <th>|</th>       
        </tr>
    {{/each}}
      </tbody>
    </table>
  </script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/lib/handlebars-v3.0.0.js"></script>
  <script src="js/typing.js"></script>
  <script src="js/cmd_line_interface.js"></script>
  <script src="js/reservation-list.js"></script>

</body>
</html>